#app {
    width: 790px;
    margin: 50px auto;
    padding-top: 30px;
    display: flex;
    align-content: flex-start;
}

#feed {
    margin: 0 auto;
}

#user-summary{
    width: 200px;
}

.d-thumbnail{
    width: 100px;
    height: 100px;
    background-size: 100px;
    margin: 0px 50px;
}

.d-card-expanded {
    margin-left: 0;
}