
body {
    background-color: #FCFCFD;
    font-size: 14px;
    font-family: Avenir, Helvetica, sans-serif;
    letter-spacing: -0.3px;
    font-weight: 400;
    margin: 0;
}

#signin-description {
    font-family: Avenir, Helvetica, sans-serif;
    color: #394B59;
    margin:auto;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center; 
    vertical-align: middle; 
}

#signin-1 { 
    font-size: 40px;
    font-weight: 500; 
   
}

#signin-2 {
    font-size: 18px;
    margin:auto;
    width: 70%;
    padding: 10px; 
    color: #8A9BA8;
}

#become-llama {
    font-family: Avenir, Helvetica, sans-serif;
    color: #46D9E5;  
    height: 40px;
    width: max-content;
    border: 1px solid  #46D9E5; 
    border-radius: 5px;
    background-color: transparent;
    margin: auto; 
    margin-top: 20px; 
    font-size: 16px; 
    padding: 0px;
}

.become-llama-text {
    color: #46D9E5;  
    text-decoration: none;
    padding: 10px 15px;
}

#become-llama:hover{
    background-color: #46D9E5;
}
.become-llama-text:hover{
    color: #ffffff;
}

#name-generator{
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 20px;
    color:  #46D9E5; 
    margin:auto;
    position: absolute;
    top: 40%;
    width: 40%;
    text-align: center; 
    vertical-align: middle; 
    border: 3px solid green;
}

#greeting {
    display: flex;
    align-items: baseline; 
    padding: 40px; 
    justify-content: space-evenly; 
}


#generate-random {
    font-family: Avenir, Helvetica, sans-serif;
    color: #46D9E5;  
    height: 30px;
    width: max-content;
    padding: 0 20px;
    border: 3px solid  #46D9E5; 
    border-radius: 20px;
    background-color: transparent;
    margin-right: 0px;
}

#basic-profile{
    font-size: 60px; 
    margin: auto; 
    width: max-content; 
    margin-top: 200px; 
}