body {
    background-color: #FCFCFD;
    font-size: 14px;
    font-family: Avenir, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
}

nav {
    background-color: #46D9E5;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: baseline;
    z-index: 3;
}

#nav-wrapper {
    width: 1000px;
    margin: auto;
    padding: auto;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.nav-button {
    font-family: Avenir, Helvetica, sans-serif;
    height: 30px;
    width: max-content;
    padding: 0 20px;
    border: 1px solid white;
    border-radius: 3px;
    background-color: transparent;
    margin-right: 0px;
    font-size: 14px;
    cursor: pointer;
}

.nav-button:hover, .nav-button > a:hover {
    background-color: #F1FCFD;
    color: #46D9E5;
}

.nav-item, .nav-item > a {
    color: white;
    margin-right: 20px;
    width: max-content;
    text-decoration: none;
}

.nav-item > a {
    margin: 0;
}

.nav-item-selected, .nav-item-selected > a {
    font-weight: 600;
}

#navbar-message {
    margin-right: auto;
}

#navbar-message > #username {
    font-weight: 600;
}

#categories {
    display: block;
    width: max-content;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

#categories > li {
    display: block;
    margin-right: 20px;
    font-size: 14px;
    float: left;
}

#categories > .category-selected {
    color: #46D9E5;
    font-weight: 600;
}

#feed {
    width: max-content;
    margin: 0 auto;
    margin-top: 40px;
}

.d-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: flex-end;
}

.d-meta {

}


.d-thumbnail {
    width: 40px;
    height: 40px;
    background-color: #F3ACE2;
    float: right;
    border-radius: 100%;
    margin-bottom: 5px;
    background-image: url('lama.png');
    background-size: 40px;
}

.d-creator{
    text-align: right;
    color: #5C7080;
    clear: right;
    margin-bottom: 5px;
}

.d-timestamp{
    text-align: right;
    color: #BFCCD6;
    font-size: 12px;
    clear: right;
}


.d-card-expanded {
    width: 650px;
    height: max-content;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #CED9E0;
    /*margin-left: 130px;*/
    margin-left: 20px;
    padding: 20px;
    padding-bottom: 0px;
    float: right;
    cursor: pointer;
    position: relative;
}

.d-card-expanded:hover {
    border: 1px solid #A7B6C2;
}


.d-card-status {
    float: right;
}

.status-badge {
    border-radius: 3px;
    width: 60px;
    height: max-content;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.status-badge-yes{
    background-color: #49E4A9;
}

.status-badge-no {
    background-color: #FB6B7B;
}

.status-badge-tied {
    background-color: #46D9E5;
}

.status-text {
    color: #A7B6C2;
    font-size: 12px;
    text-align: center;
}

.d-card-categories {
    font-size: 12px;
    color: #BFCCD6;
    margin-bottom: 10px;
}


.d-card-title {
    font-size: 18px;
    color: #394B59;
    font-weight: 600;
    margin-bottom: 5px;
}

.d-card-body {
    color: #5C7080;
    margin-bottom: 45px;
}


/* Source: https://css-tricks.com/line-clampin/ */
.truncated {
    overflow: hidden;
    position: relative;
    height: 76px;
    z-index: 1;
}

.truncated::after {
    content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);

}

.section-title {
    font-size: 12px;
    letter-spacing: 0.7px;
    color: #BFCCD6;
    margin-bottom: 5px;
}

.bold-section-title {
    font-size: 12px;
    letter-spacing: 0.7px;
    color: #5C7080;
    margin-bottom: 5px;
    font-weight: 600;
}

.debate-section {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    display: none; 
    background-color: #F5F8FA;
    padding: 20px;
    border-radius: 3px;
}

.col {
    width: 50%;
}

.col-yes {
    margin-right: 20px;
}

.col-title {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.yes-vote-tag, .no-vote-tag {
    color: #A7B6C2;
    text-align: center;
    font-size: 12px;
    padding: 5px ;
    /*background-color: #49E4A9;
    width: max-content;
    border-radius: 5px;
    margin-left: 10px;*/
    float: left;
}

/*.no-vote-tag {
    color: #FB6B7B;
}*/

form {
    overflow: hidden;
    margin-bottom: 20px;
}

.comment-input {
    font-size: 14px;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #CED9E0;
    border-right: 0px;
    padding: 5px;
    width: 80%;
    float: left;
}

.comment-button {
    font-size: 14px;
    border-radius: 0px 3px 3px 0px;
    color: #46D9E5;
    border: 1px solid white;
    border-color: #46D9E5;
    padding: 5px 10px;
    width: 16%;
    float: left;
    cursor: pointer;
    text-align: center;
}

.comment-button:hover{
    background-color: #46D9E5;
    color: #ffffff;
    /*border-color: #17C3D1;
    color: #17C3D1;*/

}

.comment-wrapper {
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.comment-wrapper > .comment-body {
    padding-left: 0;
    width: 260px;
    margin-bottom: 5px;
}

.comment-wrapper > .comment-body {
    float: left;
}

.comment-wrapper > .comment-meta {
    font-size: 12px;
    color: #A7B6C2;
    width: 260px;
    float: left;
}

.comment-wrapper > .comment-meta > .comment-thumb {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-image: url('lama.png');
    background-size: 16px;
    background-color: #4ABCF3;
    margin-right: 5px;
    float: left;
}


.comment-wrapper > .comment-vote {
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comment-wrapper > .comment-vote > .vote-count {
    color: #46D9E5;
}

.vote-button {
    width: 20px;
    height: 20px;
    background-image: url('heart.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center top;
}

.vote-button:hover {
    cursor: pointer;
    background-position: center -20px;
}

.voted, .voted:hover {
    background-image: url('heart.png');
    background-position: center -40px;
}

.dot-no {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #FB6B7B;
    display: inline-block;
}

.dot-yes {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #49E4A9;
    display: inline-block;
}

.comments-section {
    margin-bottom: 10px;
}

.comment-creator {
    color: #5C7080;
    font-weight: 600;
    display: inline-block;
    padding-left: 5px;
}

.comment-body {
    color: #5C7080;
    display: inline-block;
    padding-left: 5px;
}

.comment-votes {
    color: #8A9BA8;
    float: right;
}

/*
.d-card-expand-footer {
    //border-top: 1px solid #D8E1E8;
    cursor: pointer;
    background-color: #F5F8FA;
    border-radius: 3px;
    margin-bottom: 20px;
    color: #A7B6C2;

}

.d-card-expand-footer:hover {
    background-color: #EEF3F7;
}



.d-card-expand-footer > .section-title {
    text-align: center;
    margin-bottom: 0;
    padding: 10px;
}

.d-card-expand-footer > .section-title:hover {
    color: #A7B6C2;
}
*/

#overlay {
    /* Source: https://www.w3schools.com/howto/howto_css_overlay.asp*/
    position: fixed; /* Sit on top of the page content */
    /* display: none; Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 4; /* Specify a stack order in case you're using a different order for other elements */
    /*cursor: pointer; /* Add a pointer on hover */
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }


#comp-container {
    background-color: #ffffff;
    border-radius: 3px;
    color: #a7b6c2;
    font-family: Avenir, Helvetica, sans-serif;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 540px;
    top: 155px;
    z-index: 5;
}

#comp-form{
    padding: 30px;
    margin-bottom: 0px;
}

.comp-categories {
    padding: 2px 7px;
    border: 1px solid #a7b6c2;
    background: #ffffff;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 12px;
    border-radius: 3 px;
    margin-right: 10px;
    margin-top: 10px;
    width: "max-content";
    border-radius: 3px;
}

.comp-categories:hover {
    border-color: #738694;
    color: #738694;
    cursor: pointer;
}

.comp-categories-selected, .comp-categories-selected:hover {
    border: 1px solid #A7B6C2;
    background-color: #A7B6C2;
    color: white;
}

#comp-title {
    font-size: 18px;
    font-weight: 600;
    color: #394B59;
    width: 480px;
    height: 22px;
    margin-bottom: 20px;
    border-width: 0px;
    resize: none;
}

#comp-body{
    width: 480px;
    height: 75px;
    margin-bottom: 20px;
    color: #5c7080;
    font-size: 14px;
    border-width: 0px;
    width: 480px;
    resize: none;

}


::-webkit-input-placeholder {
    color: #a7b6c2;
 }

 #comp-cat-container{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }

 .comp-button{
    width: 80px;
    height: 30px;
    background-color: #46D9E5;
    color: #ffffff;
    border-radius: 3px;
    margin-left: 10px;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 14px; 
    cursor: pointer;
 }

 #post-button{
     background-color: #46D9E5;
     color: #ffffff;
     border-color: #46D9E5;
     display: flex;
     justify-content: center;
     align-items: baseline;
 }

 .post-button-text {
     margin: 4.5px;
 }
 

 #post-button:hover{
    background-color: #3BD0DD;
    color: rgb(244, 251, 255);
    border-color: #3BD0DD;
 }

 #cancel-button{
    background-color: #ffffff;
    color: #a7b6c2;
    border-radius: 3px;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 14px;
    border-color: #a7b6c2;
}

#cancel-button:hover{
    background-color: rgb(251, 254, 255);
    border-color: #738694;
    color: #738694;

}

 #post-button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
 }

 #close{
     top: 0;
     right: 0;
     position: absolute;
     /*margin-top: 20px;
     margin-right: 20px;*/
     padding: 20px;
     cursor: pointer;
 }

 #composer{
     display: none;
 }

 .expand-text-footer{
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #A7B6C2;
    font-size: 12px;
    z-index: 2;
 }

