<!DOCTYPE html>
<html>
  <head>
    <title>New User</title>
    <link rel="stylesheet" href="../..//public/css/signin-styles.css">
    
  </head>
  <body>

     <!--navigation bar--> 
     <nav>
        <div id="nav-wrapper">
            <div class="nav-item user-header">
                <div> Dilemma </div>
                <img src="../../public/css/lama.png" alt="Lama" height="35" width="35">
                <div> Llama </div>
            </div>
            <button id="login-google" class="nav-item">
                Login with Google
              </button>
            
        </div>
      </nav>

  
</body>
</html>
