<!DOCTYPE html>
<html>
  <head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <body>
    <div id = "composer">
        <div id = "comp-container">
            <form id = "comp-form">
                <textarea id = "comp-title" placeholder = "Enter your query title here…"></textarea><br>
                <textarea id = "comp-body" placeholder = "Enter details about your query. The more detailed you are, the better other people will be able to help you."></textarea><br>
                <div id = "comp-cat-title">SELECT CATEGORIES</div> 
                <div id = "comp-cat-container">
                    <div class = "comp-categories">Education</div>
                    <div class = "comp-categories">Personal Finance</div>
                    <div class = "comp-categories">Life Issues</div>
                    <div class = "comp-categories">Career</div>
                    <div class = "comp-categories">Fashion</div>
                    <div class = "comp-categories">Spirituality</div>
                    <div class = "comp-categories">Relationships</div><br>
                </div>
                <div id = "post-button-container">
                    <input class ="comp-button" id = "cancel-button" type="button" value="Cancel">
                    <input class ="comp-button" id = "post-button" type="button" value="Post">
                </div>
            </form>
            
            <div id = "close">x</div>
        </div>
        <div id="overlay"></div>
    </div>
    

    <nav>
      <div id="nav-wrapper">
          <div class="nav-item user-header">Hello, <span class="username">username123!</span></div>
          
          <div class="nav-item">Browse</div>
          <div class="nav-item">Your Activity</div>
          <button id="new-dilemma" class="nav-item">
              Add New Dilemma
            </button>
          
      </div>
    </nav>

    <ul id="categories">
      <li class="category-selected">Followed</li>
      <li>All</li>
      <li>Education</li>
      <li>Personal Finance</li>
      <li>Life Issues</li>
      <li>Career</li>
      <li>Fashion</li>
      <li>Relationships</li>
      <li>Spirituality</li>
    </ul>

    <div id="feed">

      <div class="d-container">
        <div class="d-meta">
          <div class="d-thumbnail"></div>
          <div class="d-creator">Happy Llama</div>
          <div class="d-timestamp">Posted 10h ago</div>
        </div>

        <!--EXANDED-->
        <div class="d-card-expanded">
          <div class="d-card-status">
            <div class="status-badge">67%</div>
            <div class="status-text">for yes</div>
          </div>
          <div class="d-card-categories">Education Personal Finance</div>
          <div class="d-card-title">Should I transfer to X college?</div>
          <div class="d-card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor turpis ac lectus vehicula tristique ac eget lectus. Nulla sed efficitur dui. In in lorem faucibus, tristique massa sit amet, aliquet arcu. Fusce non tincidunt justo, in fermentum arcu. Pellentesque in orci pulvinar, vestibulum risus at, hendrerit lectus. Morbi luctus felis nec ex suscipit, id feugiat tellus commodo. Integer consequat turpis a tincidunt bibendum. Aliquam varius blandit maximus. Aenean eu purus eros. Vestibulum fringilla condimentum risus vel tempor.
              Etiam euismod eleifend auctor. Praesent est urna, porta eget luctus ac, tempus sit amet turpis. Proin tincidunt ipsum diam, vel hendrerit nunc pharetra quis. Duis congue interdum pretium. Duis eu risus ac lacus lacinia blandit sed non ipsum. Proin hendrerit id leo vel convallis. Sed non massa id massa venenatis molestie vitae nec orci.
          </div>

          <div id = "top-comments">
              <div class="section-title">
                  TOP COMMENTS
                </div>
                <div class="comments-section">
                  <div class="d-card-comment-compact">
                      <div class="dot-no"></div>
                      <div class="comment-creator">Fuzzy Red</div>
                      <div class="comment-body">Not a fan of this college man it sucks</div>
                      <div class="comment-votes">5 votes</div>
                  </div>
                  <div class="d-card-comment-compact">
                      <div class="dot-yes"></div>
                      <div class="comment-creator">Bubbly Blue</div>
                      <div class="comment-body">Ya dude go get that bread</div>
                      <div class="comment-votes">2 votes</div>
                  </div>
                  <div class="d-card-comment-compact">
                      <div class="dot-no"></div>
                      <div class="comment-creator">Quirky Yellow</div>
                      <div class="comment-body">Not a fan of this college man it sucks</div>
                      <div class="comment-votes">1 vote</div>
                  </div>
                </div>
          </div>
          
          <div id="d-card-expand-footer">
              <div class="section-title">EXPAND TO SEE 4 MORE</div>
            </div>

          <div id="debate-section">
            <div class="col col-yes">
                <div class="col-title">
                  <div class="bold-section-title">YES</div>
                  <div class="yes-vote-tag">83 votes</div>
                </div>
                <form>
                    <div class = "comment-form">
                        <input id = "comment-field-yes" class ="comment-input" type="text" name="fname" placeholder= 'Add your comment…'>
                        <input id = "submit-comment-yes" class ="comment-button" type="button" value="Post">
                    </div>
                </form>

                <div id = 'comment-yes'>
                    <div class="comment-wrapper">
                        <div class="comment-body">
                            Lorem ipsum dolor sit amet, ipsum voluptua conclusionemque ut mel, no purto homero deserunt pri. Quem pertinax an usu, vel at quodsi iuvaret tibique. 
                        </div>
                        <div class="comment-vote">
                            <div class="vote-button"></div>
                            <div class="vote-count">5</div>
                          </div>
                        <div class="comment-meta">
                          <div class="comment-thumb"></div>
                          <span class="comment-author">Happy Llama posted 5h ago</span>
                        </div>
                      </div>
                      <div class="comment-wrapper">
                          <div class="comment-body">
                              Lorem ipsum dolor sit amet, ipsum voluptua conclusionemque ut mel, no purto homero deserunt pri. Quem pertinax an usu, vel at quodsi iuvaret tibique. 
                          </div>
                          <div class="comment-vote">
                              <div class="vote-button"></div>
                              <div class="vote-count">5</div>
                            </div>
                          <div class="comment-meta">
                            <div class="comment-thumb"></div>
                            <span class="comment-author">Happy Llama posted 5h ago</span>
                          </div>
                        </div>
                        <div class="comment-wrapper">
                            <div class="comment-body">
                                Lorem ipsum dolor sit amet, ipsum voluptua conclusionemque ut mel, no purto homero deserunt pri. Quem pertinax an usu, vel at quodsi iuvaret tibique. 
                            </div>
                            <div class="comment-vote">
                                <div class="vote-button"></div>
                                <div class="vote-count">5</div>
                              </div>
                            <div class="comment-meta">
                              <div class="comment-thumb"></div>
                              <span class="comment-author">Happy Llama posted 5h ago</span>
                            </div>
                          </div>
                </div>
            </div>

            <div class="col">
                <div class="col-title">
                  <div class="bold-section-title">NO</div>
                  <div class="no-vote-tag">21 votes</div>
                </div>
                <form>
                  <div class = 'comment-form'>
                      <input class ="comment-input" type="text" name="fname" placeholder= 'Add your comment…'>
                      <input class ="comment-button" type="submit" value="Post">
                  </div>
                </form>
                <div class="comment-wrapper">
                    <div class="comment-body">
                        Lorem ipsum dolor sit amet, ipsum voluptua conclusionemque ut mel, no purto homero deserunt pri. Quem pertinax an usu, vel at quodsi iuvaret tibique. 
                    </div>
                    <div class="comment-vote">
                        <div class="vote-button"></div>
                        <div class="vote-count">5</div>
                      </div>
                    <div class="comment-meta">
                      <div class="comment-thumb"></div>
                      <span class="comment-author">Happy Llama posted 5h ago</span>
                    </div>
                  </div>
                  <div class="comment-wrapper">
                    <div class="comment-body">
                        Lorem ipsum dolor sit amet, ipsum voluptua conclusionemque ut mel, no purto homero deserunt pri. Quem pertinax an usu, vel at quodsi iuvaret tibique. 
                    </div>
                    <div class="comment-vote">
                        <div class="vote-button"></div>
                        <div class="vote-count">5</div>
                      </div>
                    <div class="comment-meta">
                      <div class="comment-thumb"></div>
                      <span class="comment-author">Happy Llama posted 5h ago</span>
                    </div>
                  </div>
            </div>
          </div>
      </div>

    </div>
  </body>
  <script src="static/js/feed.js"></script>
  <script src="static/js/api.js"></script>
</html>
