<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <body>
    <div id = "composer">
        <div id = "comp-container">
            <form id = "comp-form">
                <textarea id = "comp-title" placeholder = "Enter your query title here…"></textarea><br>
                <textarea id = "comp-body" placeholder = "Enter details about your query. The more detailed you are, the better other people will be able to help you."></textarea><br>
                <div id = "comp-cat-title">SELECT CATEGORIES</div> 
                <div id = "comp-cat-container">
                    <div class = "comp-categories">Education</div>
                    <div class = "comp-categories">Personal Finance</div>
                    <div class = "comp-categories">Life Issues</div>
                    <div class = "comp-categories">Career</div>
                    <div class = "comp-categories">Fashion</div>
                    <div class = "comp-categories">Spirituality</div>
                    <div class = "comp-categories">Relationships</div>
                    <div class = "comp-categories">Random</div>
                </div>
                <div id = "post-button-container">
                    <input class ="comp-button" id = "cancel-button" type="button" value="Cancel">
                    <input class ="comp-button" id = "post-button" type="button" value="Post">
                </div>
            </form>
            
            <div id = "close">x</div>
        </div>
        <div id="overlay"></div>
    </div>
    

    <nav>
      <div id="nav-wrapper">
          <div class="nav-item user-header">Hello, <span class="username">username123!</span></div>
          
          <div class="nav-item nav-item-selected"><a href="/">Browse</a></div>
          <div class="nav-item"><a href="/your-activity">Your Activity</a></div>
          <button id="new-dilemma" class="nav-item">
              Add New Dilemma
            </button>
          
      </div>
    </nav>

    <ul id="categories">
      <li class="category-selected">All</li>
      <li>Education</li>
      <li>Personal Finance</li>
      <li>Life Issues</li>
      <li>Career</li>
      <li>Fashion</li>
      <li>Relationships</li>
      <li>Spirituality</li>
      <li>Random</li>
    </ul>

    <div id="feed"></div>

    
  </body>
  <script src="static/js/dom-objects.js"></script>
  <script src="static/js/event-handlers.js"></script>
  <script src="static/js/api.js"></script>
  <script src="static/js/feed.js"></script>
</html>
