<!DOCTYPE html>
<html>
    <head>
        <title>Composer</title>
        <link rel="stylesheet" href="../../public/css/styles.css">
    </head>
    <body>
        <div id = "comp-container">
            <form id = "comp-form">
                <textarea id = "comp-title" placeholder = "Enter your query title here…"></textarea><br>
                <textarea id = "comp-body" placeholder = "Enter details about your query. The more detailed you are, the better other people will be able to help you."></textarea><br>
                <div id = "comp-cat-title">SELECT CATEGORIES</div> 
                <div id = "comp-cat-container">
                    <div class = "comp-categories">Education</div>
                    <div class = "comp-categories">Personal Finance</div>
                    <div class = "comp-categories">Life Issues</div>
                    <div class = "comp-categories">Career</div>
                    <div class = "comp-categories">Fashion</div>
                    <div class = "comp-categories">Spirituality</div>
                    <div class = "comp-categories">Relationships</div><br>
                </div>
                <div id = "post-button-container">
                    <input class ="comp-button" id = "cancel-button" type="submit" value="Cancel">
                    <input class ="comp-button" id = "post-button" type="submit" value="Post">
                </div>
            </form>
            
            <div class = "close">x</div>

        </div>
        <div id="overlay"></div>
    </body>


</html>