<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/css/signin-styles.css">
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <body>
    <div id = "composer">
        <div id = "comp-container">
            <form id = "comp-form">
                <textarea id = "comp-title" placeholder = "Enter your query title here…"></textarea><br>
                <textarea id = "comp-body" placeholder = "Enter details about your query. The more detailed you are, the better other people will be able to help you."></textarea><br>
                <div id = "comp-cat-title">SELECT CATEGORIES</div> 
                <div id = "comp-cat-container">
                    <div class = "comp-categories">Education</div>
                    <div class = "comp-categories">Personal Finance</div>
                    <div class = "comp-categories">Life Issues</div>
                    <div class = "comp-categories">Career</div>
                    <div class = "comp-categories">Fashion</div>
                    <div class = "comp-categories">Spirituality</div>
                    <div class = "comp-categories">Relationships</div>
                    <div class = "comp-categories">Random</div>
                </div>
                <div id = "post-button-container">
                    <input class ="comp-button" id = "cancel-button" type="button" value="Cancel">
                    <div class ="comp-button" id = "post-button">
                      <div class = "post-button-text">Post</div>
                    </div>
                </div>
            </form>
            
            <div id = "close">x</div>
        </div>
        <div id="overlay"></div>
    </div>

    <nav>
      <div id="nav-wrapper">
      </div>
    </nav>

    <div id="app">
      <div id="feed"></div>
    </div>
    
  </body>
  <script src="static/js/api.js"></script>
  <script src="static/js/event-handlers.js"></script>
  <script src="static/js/navbar.js"></script> 
  <script src="static/js/dom-objects.js"></script>
  <script src="static/js/feed.js"></script>
  <script src="static/js/llama-name.js"></script>
  <script src="static/js/index.js"></script>
 
</html>
