<!DOCTYPE html>
<html>
  <head>
    <title>New User</title>
    <link rel="stylesheet" href="../..//public/css/signin-styles.css">
    
  </head>
  <body onkeydown=randomize()>

     <!--navigation bar--> 
     <nav>
        <div id="nav-wrapper">
            <div class="nav-item user-header">
                <div> Dilemma </div>
                <img src="../../public/css/lama.png" alt="Lama" height="35" width="35">
                <div> Llama </div>
            </div>
            <button id="login-google" class="nav-item">
                Login with Google
              </button>
            
        </div>
      </nav>

        <!-- random llama name generator -->
        <div id= name-generator>

            <div id= greeting>
                <div class=name-fixed> 
                    Welcome,
                </div>
                <div id= name-adj class=name-adjcolor onkeypress=randomize()>
                    Happy 
                </div>
                <div id = name-color class=name-adjcolor onkeypress=randomize()>
                    Blue
                </div>
                <div class=name-fixed>
                    Llama
                </div>
            </div>


            <button id=generate-random>
                 Generate Random Name
            </button>
    

        </div>

  
</body>
  <script src="../../public/js/llama-name.js"></script>
</html>
