<!DOCTYPE html>
<html>
  <head>
    <title>New User</title>
    <link rel="stylesheet" href="static/css/signin-styles.css">
    
  </head>
  <body onkeydown=randomize()>

     <!--navigation bar--> 
     <nav>
        <div id="nav-wrapper">
            <div class="nav-item user-header">
                <div> Dilemma </div>
                <img src="../../public/css/lama.png" alt="Lama" height="35" width="35">
                <div> Llama </div>
            </div>
            <div class="nav-item">
                Get Started
            </div>
            
        </div>
      </nav>

        <!-- random llama name generator -->
        <div id= name-generator>
            <div > Press any key to create your llama identity</div>

            <div id= greeting>
                <div class=name-fixed> 
                    Welcome,
                </div>
                <div id= name-adj class=name-adjcolor onkeypress=randomize()>
                    Happy 
                </div>
                <div id = name-color class=name-adjcolor onkeypress=randomize()>
                    Blue
                </div>
                <div class=name-fixed>
                    Llama
                </div>
            </div>


            <button onclick="chooseNameHandler ()">
                 <a id=generate-random href= "/">  I choose this name </a> 
            </button>
    

        </div>

  
</body>
  <script src="static/js/event-handlers.js"></script>
  <script src="static/js/llama-name.js"></script>
  <script src="static/js/dom-objects.js"></script>
  <script src="static/js/api.js"></script>
  <script src="static/js/feed.js"></script>
  <script src="static/js/navbar.js"></script>
 
  
</html>
