<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="static/css/signin-styles.css">
  </head>
  <body>

    <!--navigation bar--> 
    <nav>
      <div id="nav-wrapper">
          <div class="nav-item user-header">
              <div> Dilemma </div>
              <img src="../../public/css/lama.png" alt="Lama" height="35" width="35">
              <div> Llama </div>
          </div>
          <button id="login-google" class="nav-item">
            <a href="/auth/google">Login With Google</a>
          </button>
          
      </div>
    </nav>

    <!-- signin description-->
    <div id="signin-description">
        <div id="signin-1">
            Llamas helping llamas solve dilemmas.
        </div>
        <div id="signin-2">
                If you're a llama with a dilemma, you've come to the right place. 
                Ask a yes or no question to our community of llamas, who will 
                point you in the right direction.
        </div>
        
        <!--become a llama button/alternative way to sign in-->
        <button id=become-llama>
            <a href="/auth/google">Become a Llama</a>
        </button>
    </div>





   
  </body>
</html>
